<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="news feed, homepage">
  <meta name="keywords" content="feed, last updates, news, tracked content, homepage">
  <link rel="stylesheet" href="css/fakegram.css">
  <link rel="stylesheet" href="static/css/fakegram1.css">
  <title>Authentication</title>
</head>
<body class="">
  <div class="block_screen">
    <div class="block_screen_spinner">
      <div class="block_screen_font">
        Fakegram
      </div>
    </div>
  </div>
  <script src="js/gen_auth.js"></script>
</body>
</html>
