<div class="general-container" style="background-color:#fafafa">
  <div class="GC-container">
    <div class="GC-nav-container">
      <nav class="GCN-top">
        <div class="GCNT-container" style="width:100%;">
          <div class="GCNTC-container nav_">
            <div class="">
              <div class="-pairs-icon-xxx1 -pairs-icon-xxx2 -pairs-icon-xxx3 -pairs-icon-xxx4 -pairs-icon-xxx5">
                <div class="">
                    <a class="" href="">
                      <div class="block_screen_font" style="color: black; font-size: 23px;">Fakegram</div>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="auth-cont">
      <div class="auth_form" style="background-color:white">
        <div style="display:inherit  " class="a_f-form">
          <h3 class="afH3">Create an account</h3>
          <form class="afform"  id="login"><!--id="login" action="/" method="post"-->
            <input class="affinput" type="text" name="email" placeholder="Email" required="">
            <input class="affinput" type="text" name="username" placeholder="Username" required="">
            <input class="affinput" type="password" name="password" placeholder="Password" id="password" required="" >
            <input class="affinput" type="password" name="passwordConf" placeholder="Confirm Password" id="password_conf" required="">
            <input class="affsubmit" type="submit" value="CREATE">
          </form>
        </div>
        <div style="display:none " class="a_f-form">
          <h3 class="afH3">Log in to your account</h3>
          <form class="afform" action="/" method="post">
            <input class="affinput" type="text" name="logemail" placeholder="Email" required="">
            <input class="affinput" type="password" name="logpassword" placeholder="Password" required="">
            <input class="affsubmit" type="submit" value="LOGIN">
          </form>
        </div>
        <div class="a_f-check">
          <button style="display:block " class="afc_bttn" type="button" name="button">Already have an account?</button>
          <button style="display:none " class="afc_bttn" type="button" name="button">Haven't an account yet?</button>
          <div class="">
            <button style="display:block " id="Maestro" class="afc_bttn" type="button" name="button">Log in as the <p class="block_screen_font" style="display:inline-block;color: inherit; font-size: inherit;">Maestro</p>.</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
