<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  <meta name="description" content="news feed, homepage"/>
  <meta name="keywords" content="feed, last updates, news, tracked content, homepage"/>
  <link rel="stylesheet" href="/static/css/badway.css">
  <link rel="stylesheet" href="/static/css/fonts.css">
  <title>Fakegram Page Not Found</title>
</head>
<body>
  <div class="main-container">
    <div class="navbar">
      <div class="border-head">
        <div class="border-head-inside">
          Fakegram
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content-container">
        <div class="text-1">Sorry, this page isn't available.</div>
        <div class="text-2">The link you followed may be broken, or the page may have been removed. <a href="/">Please, go back to Fakegram.</a></div>
      </div>
    </div>
    <div class="page-footer -cx-PRIVATE-Footer__root -cx-PRIVATE-Footer__root__">
      <div class="wrapper -cx-PRIVATE-Footer__wrapper -cx-PRIVATE-Footer__wrapper__">
        <div class="-cx-PRIVATE-Footer__nav -cx-PRIVATE-Footer__nav__">
          <ul class="-cx-PRIVATE-Footer__navItems -cx-PRIVATE-Footer__navItems__">
            <li><a href="/">About us</a></li>
            <li><a href="/">Support</a></li>
            <li><a href="/">Press</a></li>
            <li><a href="/">API</a></li>
            <li><a href="/">Jobs</a></li>
            <li><a href="/">Privacy</a></li>
            <li><a href="/">Terms</a></li>
          </ul>
          <p class="copyright -cx-PRIVATE-Footer__copyright -cx-PRIVATE-Footer__copyright__">© 2019 Fakegram</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
