<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  <meta name="description" content="news feed, homepage"/>
  <meta name="keywords" content="feed, last updates, news, tracked content, homepage"/>
  <link rel="icon" type="image/png" href="/static/media/icon.png">
  <link rel="stylesheet" href="/static/css/fonts.css"/>
  <link rel="stylesheet" href="/static/css/authentication.css"/>
  <title>Fakegram Login</title>
</head>
<body>
  <div class="signup-page main-container">
    <div class="signup-header navbar">
      <div class="header-container border-head">
        <div class="fakegram-logo border-head-inside">
          Fakegram
        </div>
      </div>
    </div>
    <div class="signup-page-content content">
      <div class="signup-page-content__form-container rgFsT ">
        <div class="signup-page-content__form-container__index gr27e ">
          <div class="P8adC">
            <form class="XFYOY" method="post" id="login-form">
              <h2 class="vvzhL ">Sign up to see photos and videos from your friends.</h2>
              <div class="WZdjL">
                <div class="_9GP1n   ">
                  <div class="f0n8F ">
                    <span class="_9nyy2">Phone number, username, or email</span>
                    <input id="numberOrUsernameOrEmail" class="_2hvTZ pexuQ zyHYP" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="30" name="username" type="text" value="">
                  </div>
                  <div class="i24fI"></div>
                </div>
              </div>
              <div class="WZdjL">
                <div class="_9GP1n   ">
                  <div class="f0n8F ">
                    <span class="_9nyy2">Password</span>
                    <input id="password" class="_2hvTZ pexuQ zyHYP" aria-required="true" autocapitalize="off" autocomplete="new-password" autocorrect="off" name="password" type="password" value="">
                  </div>
                  <div class="i24fI"></div>
                </div>
              </div>
              <div>
                <div class="                  Igw0E     IwRSH      eGOV_         _4EzTm    bkEs3                          CovQj                  jKUp7          DhRcB                                                    ">
                  <button class="sqdOP  L3NKy   y3zKF " type="submit">Log in</button>
                </div>
              </div>
              <div class="eiCW-">
                <p aria-atomic="true" id="error" role="alert"></p>
              </div>
            </form>
          </div>
        </div>
        <div class="signup-page-content__form-container__login gr27e">
          <p class="izU2O">Don't have an account? <a href="/accounts/signup/">Sign up</a></p>
        </div>
        <div class="signup-page-content__form-container__guest gr27e">
          <p class="izU2O">Log in as <a href="/accounts/guest/">Guest</a>.</p>
        </div>
      </div>
    </div>
    <div class="signup-footer   page-footer -cx-PRIVATE-Footer__root -cx-PRIVATE-Footer__root__">
      <div class="footer-wrapper  -cx-PRIVATE-Footer__wrapper -cx-PRIVATE-Footer__wrapper__">
        <div class="footer-wrapper__nav   -cx-PRIVATE-Footer__nav -cx-PRIVATE-Footer__nav__">
          <ul class="footer-wrapper__navItems   -cx-PRIVATE-Footer__navItems -cx-PRIVATE-Footer__navItems__">
            <li><a href="/">About us</a></li>
            <li><a href="/">Support</a></li>
            <li><a href="/">Press</a></li>
            <li><a href="/">API</a></li>
            <li><a href="/">Jobs</a></li>
            <li><a href="/">Privacy</a></li>
            <li><a href="/">Terms</a></li>
          </ul>
          <p class="footer-wrapper__navCopyright   copyright -cx-PRIVATE-Footer__copyright -cx-PRIVATE-Footer__copyright__">© 2019 Fakegram</p>
        </div>
      </div>
    </div>
  </div>
<script src="/static/js/login.js"></script>
</body>
</html>
