<div class="general-container" style="display:none">
  <div class="GC-container">
    <div class="GC-nav-container">
      <nav class="GCN-top">
        <div class="GCNT-container">
          <div class="GCNTC-container nav_">
            <div class="-pairs-icon-xxx1 -pairs-icon-xxx2 -pairs-icon-xxx3 -pairs-icon-xxx4 -pairs-icon-xxx5">
              <button class="-pairs-bttn-xxx1">
                <span class="sprite_stori_def_24 -pairs-icons_all-xxx0"></span>
              </button>
            </div>
            <div class="GCNTC2-add_stori">
              <div class="-pairs-icon-xxx1 -pairs-icon-xxx2 -pairs-icon-xxx3 -pairs-icon-xxx4 -pairs-icon-xxx5 -pairs-icon-xxx6">
                <div class="">
                    <a class="" href="">
                      <div class="block_screen_font" style="color: black; font-size: 23px;">Fakegram</div>
                    </a>
                </div>
              </div>
            </div>
            <div class="GCNTC2-tv_messager">
              <div class="-pairs-icon-xxx1 -pairs-icon-xxx2 -pairs-icon-xxx3 -pairs-icon-xxx4 -pairs-icon-xxx5">
                <button class="-pairs-bttn-xxx1">
                  <a class="" href="/logout">
                    <span class="glyphsSpriteForward__outline__24__grey_9 -pairs-icons_all-xxx0"></span>
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <nav class="GCN-bottom">
        <div class="GCNB-container">
          <div class="GCNBC-container">
            <div class="GCNTC2-bttn">
              <div class="-pairs-icon-xxx1 -pairs-icon-xxx2 -pairs-icon-xxx4 -pairs-icon-xxx5 -pairs-bttn-xxx2">
                <!--a href="#/"-->
                <button class="-pairs-bttn-xxx1 active_main_bttn" id="main_menu_btn">
                  <div class="-pairs-div-xxx1">
                      <span class="glyphsSpriteHome__filled__24__grey_9 -pairs-icons_all-xxx0"></span>
                  </div>
                </button>
              <!--/a-->
                <div class="c2lac_polosochka"></div>
                <button class="-pairs-bttn-xxx1 " id="main_menu_btn">
                  <div class="-pairs-div-xxx1">
                    <!--a href="#/search"-->
                      <span class="glyphsSpriteSearch__outline__24__grey_9 -pairs-icons_all-xxx0"></span>
                    <!--/a-->
                  </div>
                </button>
                <div class="c2lac_polosochka"></div>
                <button class="-pairs-bttn-xxx1 " id="main_menu_btn">
                  <div class="-pairs-div-xxx1">
                    <!--a href="#/adding"-->
                      <span class="glyphsSpriteNew_post__outline__24__grey_9 -pairs-icons_all-xxx0"></span>
                    <!--/a-->
                  </div>
                </button>
                <div class="c2lac_polosochka"></div>
                <button class="-pairs-bttn-xxx1 " id="main_menu_btn">
                  <div class="-pairs-div-xxx1">
                    <!--a href="#/activity"-->
                      <span class="sprite_heart_empty_24 -pairs-icons_all-xxx0"></span>
                    <!--/a-->
                  </div>
                </button>
                <div class="c2lac_polosochka"></div>
                <button class="-pairs-bttn-xxx1 " id="main_menu_btn">
                  <div class="-pairs-div-xxx1">
                    <!--a href="#/profile"-->
                      <span class="NPEcp_logo -pairs-icons_all-xxx0 main_btn_icon"></span>
                    <!--/a-->
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="GC-content-container">
      <main class="GC2_main1 GC2_main2">
        <section class="GC2M_cnt1 GC2M_cnt2">
          <div class="GC2MC_load">
            <div class="block_screen_spinner" style="display:inherit">
              <div class="block_screen_font">
                Fakegram
              </div>
            </div>
          </div>
        </section>
        <section class="GC2M_cnt1 _cn2t2" style="background-color:#fafafa;display:none;z-index:1;"></section>
        <section class="GC2M_cnt1 _cn2t2" style="background-color:#fafafa;display:none;z-index:1;"></section>
        <section class="GC2M_cnt1 _cn2t2" style="background-color:#fafafa;display:none;z-index:1;">
          <div class=" VfzDr NFpost1" style="margin-top:5px;max-width:650px;height:calc(100% - 60px);padding: 10px 10px 10px;">
            <div class="post_preview">

            </div>
            Post
            <input id="new_post" type="file" name="newpost">
            Post description
            <input id="new_post_desc" type="text" name="" value="">
            <button id="new_post_send" type="button" name="button">Send</button>
            Story
            <input id="new_story" type="file" name="newstory">
            Story description
            <input id="new_story_desc" type="text" name="" value="">
            <button id="new_story_send" type="button" name="button">Send</button>
          </div>
        </section>
        <section class="GC2M_cnt1 _cn2t2" style="background-color:#fafafa;display:none;z-index:1;"></section>
        <section class="GC2M_cnt1 _cn2t2" style="background-color:#fafafa;display:none;z-index:1;"></section>
        <section class="GC2M_cnt1 _cn2t2" style="background-color:#fafafa;display:none;z-index:1;"></section>
        <section class="GC2M_cnt1 _cn2t2" style="background-color:#fafafa;display:none;z-index:1;"></section>
      </main>
    </div>
  </div>
</div>
